.cabecalho {
    background-color: rgb(28, 102, 172);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}
.cabecalho h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container_cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}